Repository velychkov/atlantis: changes, and which Atlantis projects are due for each by the changed paths.
All: vpc, eks, apps

vpc:
  dir: terraform/vpc
  workflow: dev-env

eks:
  dir: terraform/eks
  workflow: dev-env

apps:
  dir: terraform/apps
  workflow: dev-env

change atlantis config
  terraform/apps/values-atlantis.yaml
Due: none

fix addon list
  terraform/eks/env/dev.tfvars
Due: eks

fix atlantis url
  terraform/apps/values-atlantis.yaml
Due: none

add karpenter
  terraform/apps/iam.tf
  terraform/apps/iam_policy.tf
  terraform/apps/karpenter.json
  terraform/apps/karpenter.tf
  terraform/apps/policy_attachment.tf
  terraform/apps/sa.tf
  terraform/eks/output.tf
Due: eks, apps

change provider auth logic
  terraform/apps/provider.tf
Due: apps

add node pool
  terraform/apps/karpenter.tf
Due: apps

Path conditions:
  vpc: any of: terraform/vpc/*.tf, terraform/vpc/env/dev.tfvars
  eks: any of: terraform/eks/*.tf, terraform/eks/env/dev.tfvars
  apps: any of: terraform/apps/*.tf, terraform/apps/env/dev.tfvars
